<div id="posts-container-list" class="container-fluid pt-2  ">

	<div class="section_header text-center bg-primary text-light h1 ">
			<%=x%>
		</div>
<div class="container " >
	<div class="row "  >
		<% for (post of posts) {%>
	



		<div class="col-lg-3 col-md-3 col-5 mt-3 border border-light bg2 text-light mr-2">


          
           <p class="pt-2">
             Company :<%=post.user.name %>
             <br>
             Profile :<%=post.profile%>
             <br>
             Salary :<%=post.salary%> per <%=post.per%>
             <br>
             Essentials :<%=post.requirements%>
           
            <br>
             

            <%if(locals.user && locals.user.type=="jobseeker"){%>
          
              <form action="/posts/<%=post._id%>/<%=user._id%>" method="get">
                <button>Apply</button>
             </form>
             <%}else if(!locals.user){%>
             <form action="/users/jobseekerSignin" method="get">
             	<button>Apply</button>
             </form>
             <%}%>
             
           </p>

<%if(locals.user && locals.user.id==post.user.id){%>

<a class="delete-post-button" href="/posts/destroy/<%=post.id%>">X </a>


<%}%>

           </li>
       

		</div>
		 <%}%>
	</div>
</div>

  
</div>